*{
  margin: 0;
  padding: 0;
}
.nav{
  display: flex;
  background-color:#003060;
  height: 362px;
  position: relative;
}
li{
  list-style-type: none;
  color: white;
}
.left{
  display: flex;
  flex-direction: column;
}
#a{
  margin-left: 50px;
  margin-bottom: 100px;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 35px;
}
#b{
  margin-left: 30px;
  font-size: 28px;
}
#c{
  margin-left: 30px;
  font-size: 18px;
}
#d{
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.form{
  width: 350px;
  border-radius: 50px;
  height: 23px;
  padding-left: 10px;
}
#e{
  margin-left: 30px;
}
#btn{
  color: white;
}
a{
  text-decoration: none;
}
.right{
  display: flex;
}
#btn1{
  color: white;
  margin-top: 10px;
  margin-left: 780px;
  font-size: 17px;
}
#btn2{
  margin-top: 10px;
  color: white;
  margin-left:20px;
  font-size: 17px;
}
#img1{
  position: absolute;
  margin-left: 910px;
  margin-top: 50px;
  width: 600px;
  border-radius: 10px;
}
.firstgrid{
  display: grid;
  padding-top: 150px;
  grid-template-columns: 1fr 1fr 1fr;
}
#item1{
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 20px;
width: 482px;
height: 210px;
}
#item2{
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 20px;
  width: 482px;
height: 210px;
}
#item3{
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 20px;
  width: 482px;
height: 210px;

}
h2{
  text-align: center;
  padding-top: 10px;
}
.fa-folder-open,.fa-graduation-cap,.fa-book{
  padding-top: 10px;
  padding-left: 241px;
  font-size: 30px;
}
#text1{
  padding-top: 10px;
  padding-left: 10px;
}
.box{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 10px;
}
.box1{
  width: 368px;
  height: 120px;
  background-color:#003060 ;
  border-radius: 5px;
}
#image1{
  background-image: url(p1.jpeg);
  border-radius: 50%;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}
.box2{
  width: 350px;
  height: 160px;
  background-color:#003060 ;
  border-radius: 5px;
}
#image2{
  background-image: url(p2.jpg);
  border-radius: 50%;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}
.box3{
  width: 350px;
  height: 140px;
  background-color:#003060 ;
  border-radius: 5px;
}
#image3{
  background-image: url(p3.jpg);
  border-radius: 50%;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}
.box4{
  width: 360px;
  height: 140px;
  background-color:#003060 ;
  border-radius: 5px;
}
#image4{
  background-image: url(p4.jpg);
  border-radius: 50%;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}
.box5{
  width: 350px;
  height: 150px;
  background-color:#003060 ;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 20px;
}
#image5{
  background-image: url(p5.jpeg);
  border-radius: 50%;
  background-size: cover;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}
.flex{
  display: flex;
}
.imageflex{
  display: flex;
}
.textflex{
   display: flex;
   flex-direction: column;
}
#aa{
  color: white;
  font-size: 16px;
}
#bb{
    color: white;
    font-size: 16px;
    padding-left: 30px;
  }
  #cc{
    color: white;
    margin-left: 20px;
    margin-top: 10px;
  }
.footer{
  margin-top: 50px;
  display: flex;
  background-color: #003060;
  justify-content: space-around;
  height: 150px;
}
#li1,#li2{
display: flex;
flex-direction: column;
color: white;
font-size: 17px;
margin-top: 20px;
}
#li3{
  display: flex;
  color: white;
  margin-top: 20px;
}
#skill{
  font-size: 40px;
}
#copyright{
  font-size: 20px;
}
.fa-twitter, .fa-instagram, .fa-facebook-f, .fa-whatsapp{
  color: white;
  font-size: 30px;
  margin-top: 20px;
}
